AppData/

!*.py
!*.md
!*.txt
!*.jpg
!*.png
!*.yml
!*.yaml
!*.json
!*.csv
!*.ini
!requirements*


!api/
!app_cps/
!apps/
!build/
!console/
!db/
!doc/
!image/
!io/
!localization/
!logic/
!math/
!modelhub/
!python/
!resources/
!scripts/
!text/
!torch/
!xlib/